<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SearchTreeKit iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SearchTreeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B6064DD1E1A106C00172FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6064E61E1A106C00172FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6064FC1E1A109000172FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6065041E1A109000172FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
